body{font-size:12px;font-family:Arial;color:grey;}
p{line-height:2em;}
a{color:#727272;text-decoration: none;}
a:hover{text-decoration:underline}
.c0{font-size:14px;color:#b9f605;font-weight:bold}
.c2{color:white}
.c2:hover{color:#b9f605;text-decoration:none;}
.c1:hover{color:#b9f605;text-decoration:none;}
.c1{color:#fdb306}
#first{background-image:url(../../image/背景.jpeg);
	background-repeat:no-repeat;background-position:center;background-size:600px 900px;
	}