body{
	background-size: 1400px 2500px;
}
.body-middletop{
	width:958px;
	height:310px;
	background-image:url(img/lishi2.jpg);
	float:left;
	background-repeat:no-repeat;
	opacity:0.6;
}
.wenben1{
	color:black;
	font-weight:bolder;
	text-indent:2em;
}
.body-middlem{
	width:970px;
	height:1750px;
	margin-left:200px;
	border:solid;
	border-color:grey;
}
.body-middleml0{
	width:650px;
	height:265px;
	float:left;
}
.body-middlemr0{
	width:300px;
	height:200px;
	background-size:330px 200px;
	background-image:url(img/lishi1.jpg);
	float:left;
	background-repeat:no-repeat;
	margin:65px 0px 0px 8px;
}
.body-middleml1{
	width:300px;
	height:210px;
	background-size:330px 210px;
	background-image:url(img/linzhang.jpg);
	float:left;
	background-repeat:no-repeat;
	margin:65px 5px 0px 3px;
}
.body-middlemr1{
	width:650px;
	height:275px;
	float:left;
}
.body-middleml2{
	width:650px;
	height:275px;
	float:left;
	}
.body-middlemr2{
	width:300px;
	height:200px;
	background-size:330px 200px;
	background-image:url(img/lishi3.jpg);
	float:left;
	background-repeat:no-repeat;
	margin:65px 0px 0px 8px;
}
/*div{
	border:solid;
}*/
.body-middleml3{
	width:950px;
	height:310px;
	float:left;
}
.body-middlemr3{
	width:630px;
	height:300px;
	background-size:630px 300px;
	background-image:url(img/lishi4.jpg);
	float:left;
	background-repeat:no-repeat;
	margin:10px 150px 0px 180px;
}
textarea{
	width:970px;
	height:200px;
	margin-left: 200px;
	margin-top: 20px;
}
